{# Generate tab headings #}
<nav class="uds-tabbed-panels{% if is_dark %} uds-tabbed-panels-dark{% endif %}">
    <div class="nav nav-tabs container" id="nav-tab" role="tablist"  data-scroll-position="0">
        {% for tab in tabs %}
            {% set title = tab.entity.field_tab_title.value %}
            {% if loop.first %}
                <a class="nav-item nav-link active"
                   id="nav-{{ title|replace({' ' : '-'})|lower }}-tab"
                   data-toggle="tab"
                   href="#nav-{{ title|replace({' ' : '-'})|lower }}"
                   role="tab"
                   aria-controls="nav-{{ title|replace({' ' : '-'})|lower }}"
                   aria-selected="true">
                    {{ title }}
                </a>
            {% else %}
                <a class="nav-item nav-link"
                   id="nav-{{ title|replace({' ' : '-'})|lower }}-tab"
                   data-toggle="tab"
                   href="#nav-{{ title|replace({' ' : '-'})|lower }}"
                   role="tab"
                   aria-controls="nav-{{ title|replace({' ' : '-'})|lower }}"
                   aria-selected="false">
                    {{ title }}
                </a>
            {% endif %}
        {% endfor %}
    </div>
</nav>

{# Generate tab content #}
<div class="tab-content" id="nav-tabContent">
    {% for tab in tabs %}
        {% set title = tab.entity.field_tab_title.value %}
        {% if loop.first %}
            <div class="tab-pane fade{% if is_dark %} text-white{% endif %} show active"
                 id="nav-{{ title|replace({' ' : '-'})|lower }}"
                 role="tabpanel"
                 aria-labelledby="nav-{{ title|replace({' ' : '-'})|lower }}-tab">
                {{ contentfieldtabs[loop.index0] }}
            </div>
        {% else %}
            <div class="tab-pane fade{% if is_dark %} text-white{% endif %}"
                 id="nav-{{ title|replace({' ' : '-'})|lower }}"
                 role="tabpanel"
                 aria-labelledby="nav-{{ title|replace({' ' : '-'})|lower }}-tab">
                {{ contentfieldtabs[loop.index0] }}
            </div>
        {% endif %}
    {% endfor %}
</div>

{{ attach_library('renovation/tabbed-panels') }}