{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% set unique_id = paragraph.id.value %}
{% block paragraph %}
  {% block content %}
    <div class="snapdown">
      <div class="toggle" role="button" aria-controls="snapdown-{{ unique_id }}" aria-expanded="false">{{ content.field_heading[0]['#context']['value'] }} <div class="icon"></div></div>
      <div class="content row" style="display: none;" id="snapdown-{{ unique_id }}" aria-expanded="false">
          {% set image = content.field_accordion_image[0]['#media'].field_media_image %}
          {% set image_uri = file_url(image.entity.uri.value) %}
          
          {# Add image column if not empty #}
          {% if image_uri and image_uri != '/' %}
            <div class="col-sm-12 col-md-3 image">
              <img src="{{ image_uri }}" alt="{{ image.alt }}">
            </div>
          {% endif %}
          <div class="col body">
            {{ content.field_formatted_text }}
          </div>
      </div>
    </div>
  {% endblock %}
{% endblock paragraph %}