{%
  set classes = [
    'paragraph',
    'col-sm-12 col-lg',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    paragraph.bundle|clean_class
  ]
%}
{% set icon = content.field_signpost_icons|render|striptags|trim %}
{% set title = content.field_signpost_title|render|striptags|trim %}
{% set link_url = content.field_signpost_icon_link.0['#url'] %}
{% set link_title = content.field_signpost_icon_link.0['#title'] %}

{{ attach_library('thunderbird/clickable') }}

{% block paragraph %}
  <div{{ attributes.addClass(classes).setAttribute('data-js-clickable', true) }}  >
    {% if icon is not empty %}
      <div class="signpost-icon">
      {{ source(directory ~ '/assets/icons/' ~ icon ~ '.svg') }}
    </div>
    {% endif %}
    {% block content %}
      {% if title is not empty %}<h3>{{ title }}</h3>{% endif %}
      {{ content.field_signpost_icon_body }}
      {% if link_title is not empty %}
        {% include '@renovation/buttons/button-arrow.twig' with { url : link_url, title: link_title } %}
      {% endif %}
    {% endblock content %}
  </div>
{% endblock paragraph %}
