
{% set layout = content.field_text_layout|render|striptags|trim|lower %}
{% set link_type = content.field_signpost_link_type|render|striptags|trim|lower %}
{% set link_text = content.field_signpost_link['0']['#title'] %}
{% set link_url = content.field_signpost_link['0']['#url'] %}
{% set title = content.field_signpost_title|render|striptags|trim %}
{% set sub_title = content.field_signpost_sub_title|render|striptags|trim %}

{%
  set classes = [
    'col-sm-12',
    'col-lg',
    'bg-color',
    content.field_background_color|render|striptags|trim,
  ]
%}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% if layout == 'layout-1' %}
      <h2 class="heading">{{ title }}</h2>
      <div class="subheading">{{ sub_title }}</div>
    {% else %}
      <div class="subheading">{{ sub_title }}</div>
      <h2 class="heading">{{ title }}</h2>
    {% endif %}
    {{ content.field_signpost_body }}
    {% if link_type == 'text' %}
      {% include '@renovation/buttons/button-arrow.twig' with {
        url: link_url,
        title: link_text
      } %}
    {% else %}
      {% include 'themes/custom/thunderbird/src/components/buttons/button-cta.twig' with {
        url: link_url,
        title: link_text
      } %}
    {% endif %}
    {% if content.field_ctas %}
      <div class="ctas">
        {{ content.field_ctas }}
      </div>
    {% endif %}
  </div>
{% endblock paragraph %}