{#
/**
 * @file
 * Theme implementation for Degree results view template.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'row',
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="degree-other-result--separator"></div>
    </div>
  </div>
  <div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {{ title }}
    {{ title_suffix }}

    <div class="col-4">
      {% if header %}
        <header>
          {{ header }}
        </header>
      {% endif %}
    </div>

    <div class="col-8">
      <div class="row d-none">
        <div class="col-12">
          <div class="views-exposed-form--wrapper mb-4">
            {{ exposed }}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          {{ attachment_before }}
        </div>
      </div>

      <div class="row">
        {% if rows -%}
          {{ rows }}
        {% elseif empty -%}
          {{ empty }}
        {% endif %}
        {{ pager }}
      </div>

      <div class="row">
        <div class="col-12">
          {{ attachment_after }}
          {{ more }}
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          {% if footer %}
            <footer>
              {{ footer }}
            </footer>
          {% endif %}

          {{ feed_icons }}
        </div>
      </div>
    </div>
  </div>
</div>
