{#
/**
 * @file
 * Template for the main page.
 */
#}
<div class="page">
  <main class="pt-4 pb-4" id="main-content">
    {% if page.header %}
      <div class="container">
        {{ page.header }}
      </div>
    {% endif %}

    {% if page.sub_header %}
      <div class="page__sub-header">
        {{ page.sub_header }}
      </div>
    {% endif %}

    {% if page.pre_content %}
      <div class="page__pre-content">
        {{ page.pre_content }}
      </div>
    {% endif %}

    {% if page.content %}
      <div class="page__content" id="skip-to-content">
        {{ page.content }}
      </div>
    {% endif %}
  </main>

  {% if page.footer %}
    <footer class="page__footer" id="asu-footer" role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}
</div>
