{#
/**
 * @file
 * Template for the main page.
 */
#}
<div class="page">
  <main class="pt-5 pb-5" id="main-content">  
    {% if page.header %}
      <div class="container">
        {{ page.header }}
      </div>
    {% endif %}

    {% if page.sub_header %}
      <div class="page__sub-header">
        {{ page.sub_header }}
      </div>
    {% endif %}

    {% if page.pre_content %}
      <div class="page__pre-content">
        <div class="container">
          {{ page.pre_content }}
        </div>
      </div>
    {% endif %}

    {% if page.content %}
      <div class="page__content" id="skip-to-content">
      {% if page.content.use_wrapper %}
        <div class="container py-5">
      {% endif %}
        {{ page.content }}
      {% if page.content.use_wrapper %}
        </div>
      {% endif %}
      </div>
    {% endif %}

    {% if page.post_content %}
      <div class="page__post-content">
        {{ page.post_content }}
      </div>
    {% endif %}
  </main>

  {% if page.footer %}
    <footer class="page__footer" id="asu-footer" role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}
</div>
