 <div class="manage-groups-communications">
    <h3>Admin Invitation Settings</h3>
    <p>You may invite admins to help with administrative functions for this group. There are two admin types: Primary Admin, and Admins. The only difference between the two is that the Primary Admin will receive the system correspondence. <strong>All admins can manage groups. All admins can update participant information, change communications, change start and due dates, invite further admins, and add participants to the group.</strong><br>To add an admin click “+ ADD ADMIN” below, input their email, and input the communication settings you would prefer.</p>
    <h6 class="mt-0">Primary Admin</h6>
    <p>The Primary Admin will receive system correspondence for this group. An example of system correspondence is an email notification of when the entire group has successfully finished taking the GDMI.</p>
    
    <div class="communications-container communications-container__admin-invitation">

      <div class="subsection-title"> Admin(s): <span class="thin-text">(Optionally add more)</span></div>

      <div class="admin-items-container">
      
        <div>
          {# Primary admin #}
          <div class="admin-item">
            <div class="admin-email disabled">
              <label>1.</label>
              <input type="email" disabled value="{{ content.owner.email }}"/>
            </div>
            <div class="admin-primary">
              <label>Primary Admin</label>
              <input class="form-control gdmi-check" name="primary_admin" type="radio" value="{{ content.owner.id }}" checked/>
            </div>
            <div class="admin-invite-action action-edit">
              <span>Edit details<i class="fas fa-sort-down ml-2"></i></span>
            </div>
            <div class="admin-invite-action action-remove">
              <span>Remove<i class="fas fa-times ml-2"></i></span>
            </div>
          </div>

          {# Group admins #}
          {% for member in content.admin_members %}
            <div class="admin-item">
              <div class="admin-email disabled">
                <label>{{loop.index + 1}}.</label>
                <input type="email" disabled value="{{ member.user.email }}"/>
              </div>
              <div class="admin-primary">
                <input class="form-control gdmi-check" name="primary_admin" value="{{ member.user.id }}" type="radio"/>
              </div>
              <div class="admin-invite-action action-edit">
                <span>Edit details<i class="fas fa-sort-down ml-2"></i></span>
              </div>
              <span class="admin-invite-action action-remove enabled" data-saved-admin="{{ member.user.id }}">
                <span>Remove<i class="fas fa-times ml-2"></i></span>
              </span>
            </div>
          {% endfor %}

          {# New admins #}
          <div class="new-admins"></div>

        </div>
        
        <div class="admins-actions">
          <button id="add-admin-btn" class="btn btn-primary text-white" type="button">+ ADD ADMIN</button>
        </div>
      </div>
    </div>
  </div>