{% set disabled = disabled|default(false) %}

<div class="datelist-single-time" id="{{ field_name }}">
  <div class="js-form-item form-item js-form-type-select form-group">
    <label class="form-label" for="{{ field_name ~ '_day' }}">Day:</label>
    <select {{ disabled ? 'disabled' : '' }} class="form-select custom-select" title="Day" id="{{ field_name ~ '_day' }}" name="{{ field_name ~ '_day' }}">
    {% for day in options.day %}
       {% if day is empty %}
          <option value>Day</option>
        {% else %}
          <option {{ defaults.day == day ? 'selected' : '' }} value="{{ day }}">{{ day }}</option>
        {% endif %}
    {% endfor %}
    </select>
  </div>

  <div class="js-form-item form-item js-form-type-select form-group">
    <label class="form-label" for="{{ field_name ~ '_month' }}">Month:</label>
    <select {{ disabled ? 'disabled' : '' }} placeholder="Month" class="form-select custom-select" title="Month" id="{{ field_name ~ '_month' }}" name="{{ field_name ~ '_month' }}">
      {% for index, month in options.month %}
        {% if month is empty %}
          <option value>Month</option>
        {% else %}
          <option {{ defaults.month == index ? 'selected' : '' }} value="{{ index }}">{{ month }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>

  <div class="js-form-item form-item js-form-type-select form-group">
    <label class="form-label" for="{{ field_name ~ '_year' }}">Year:</label>
    <select {{ disabled ? 'disabled' : '' }} class="form-select custom-select" title="Year" id="{{ field_name ~ '_year' }}" name="{{ field_name ~ '_year' }}">
      {% for year in options.year %}
        {% if year is empty %}
          <option value>Year</option>
        {% else %}
          <option {{ defaults.year == year ? 'selected' : '' }} value="{{ year }}">{{ year }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
  <input type="hidden" id="{{ field_name ~ '_time' }}"  name="{{ field_name ~ '_time' }}" value="12:00 AM"/>
  {# <div class="js-form-item form-item js-form-type-select form-group">
    <label class="form-label" for="participant_invitation_time">Time:</label>
    <select {{ disabled ? 'disabled' : '' }} class="form-select custom-select" title="Time" id="{{ field_name ~ '_time' }}" name="{{ field_name ~ '_time' }}">
      <option value>Time</option>
      {% for key, time in options.time %}
          <option {{ defaults.time == key ? 'selected' : '' }} value="{{ key }}">{{ time }}</option>
      {% endfor %}
    </select>
  </div> #}
</div>