{% include "@thunderbird/gdmi/components/hero/hero-small.twig" with {
  title: 'Results',
  image:  content['#image']['#value']
}%}
<div class="results-page container">
  <div class="d-flex justify-content-between"> 
    {% if submission %}
      <div>{{ drupal_form('Drupal\\tb_gdmi\\Form\\SubmissionSelectForm') }}</div>
      <div>
        <a id="generate-report" data-sid="{{ submission.id }}" class="btn btn-gold btn-sm btn-main-action">Download PDF Report<i class="fas fa-arrow-right ml-2"></i></a>
      </div>
      {{ attach_library('tb_gdmi/build_report_actions') }}
    {% endif %}
  </div>
  <div class="row">
    <div class="col-lg-2 p-lg-0">
      <div class="results-page__menu">{{ drupal_menu('gdmi-results', 1) }}</div>
    </div>
    <div class="col-lg-10">  
    {% if submission %}
      <div class="results-page__content">
        <div class="results-page__content-top">
        {% if content['#is_main_page']['#value'] %}
            {{ content['#intro_text'] }}
        {% else %}
          <div class="d-flex">
            <div class="">
              <div class="small-chart-container">
                <canvas class="small-circular-graph small-circular-graph__{{ content.capital_name }}" 
                  data-capital-name="{{ content.capital_name|capitalize }}"
                  data-value="{{ content.graphics_data.average ?? 0 }}"
                  data-items="{% for key, item in content.graphics_data.items %}{{  (item.average ?? 0) ~  (not loop.last  ? ',' : '') }}{% endfor %}"
                  data-color="{{ content.capital_color }}" ></canvas>
              </div>
            </div>
            <div class="results-page__content-top-text">
              {{ content['#intro_text'] }}
            </div>
          </div>
        {% endif %}
        </div>
        <div class="results-page__graph-container {{ content['#is_main_page']['#value'] ? 'main' : 'capital' }}">
          {% if content['#is_main_page']['#value'] %}
            <div class="d-flex justify-content-between results-page__graph-container-top">
               <div class="small-chart-container">
                <canvas class="small-circular-graph small-circular-graph__intellectual"
                  data-capital-name="Intellectual"
                  data-value="{{ content.graphics_data.intellectual_capital.average ?? 0 }}"
                  data-items="{% for key, item in content.graphics_data.intellectual_capital.items %}{{  (item.average ?? 0) ~  (not loop.last  ? ',' : '') }}{% endfor %}"
                  data-color="#753E96"></canvas>
              </div>
              <div class="small-chart-container">
                <canvas class="small-circular-graph small-circular-graph__digital"
                  data-capital-name="Digital"
                  data-value="{{ content.graphics_data.digital_capital.average ?? 0 }}"
                  data-items="{% for key, item in content.graphics_data.digital_capital.items %}{{  (item.average ?? 0) ~  (not loop.last  ? ',' : '') }}{% endfor %}"
                  data-color="#0179B7"></canvas>
              </div>
            </div>
            <div style="height: 900px !important; width: 100%;" class="circular-graph-container d-flex justify-content-center">
              <canvas class="circular-graph"
                {% for ckey, capital in content.graphics_data %}
                  {% for skey, subcategory in capital.items %}
                    {{ 'data-' ~ skey ~ ' = ' ~ subcategory.average ?? 0 ~ '' }}
                  {% endfor %}
              {% endfor %}> </canvas>
            </div>
            <div class="d-flex justify-content-between results-page__graph-container-bottom">
               <div class="small-chart-container">
                <canvas class="small-circular-graph small-circular-graph__psychological"
                  data-capital-name="Psychological"
                  data-value="{{ content.graphics_data.psychological_capital.average ?? 0 }}"
                  data-items="{% for key, item in content.graphics_data.psychological_capital.items %}{{  (item.average ?? 0) ~  (not loop.last  ? ',' : '') }}{% endfor %}"
                  data-color="#E43D51"></canvas>
              </div>
              <div class="small-chart-container">
                <canvas class="small-circular-graph small-circular-graph__social"
                  data-capital-name="Social"
                  data-value="{{ content.graphics_data.social_capital.average ?? 0 }}"
                  data-items="{% for key, item in content.graphics_data.social_capital.items %}{{  (item.average ?? 0) ~  (not loop.last  ? ',' : '') }}{% endfor %}"
                  data-color="#E69E00"></canvas>
              </div>
            </div>
          {% else %}
            <div style="height: 600px !important; width: 100%;" class="horizontal-bars-graph-container d-flex justify-content-center">
             {{content.graphics_grand_data.means.intellectual_capital.average}}
             <canvas
                data-name="{{ content.capital_name }}"
                data-color="{{ content.capital_color }}" 
                {% for key, subcategory in content.graphics_data.items %}
                  {{ 'data-' ~ key ~ ' = ' ~ subcategory.average ?? 0 ~ '' }}
                {% endfor %}
                data-is-group="{{ content.graphics_group_data ? '1' : '0' }}"
                {% for key, subcategory in content.graphics_group_data.capital.items %}
                  {{ 'data-group-' ~ key ~ ' = ' ~ subcategory.average ?? 0 ~ '' }}
                {% endfor %}
                {% for key, subcategory in content.graphics_grand_data.capital.items %}
                  {{ 'data-grand-mean-' ~ key ~ ' = ' ~ subcategory.average ?? 0 ~ '' }}
                {% endfor %}
                {% if content.graphics_group_data %}
                  data-date="{{ content.graphics_group_data.date.date|date('d/m/Y') }}"
                  data-completed="{{ content.graphics_group_data.participants_completed }}"
                  data-total="{{ content.graphics_group_data.participants_total }}"
                {% endif %}
                class="horizontal-bars-graph"> </canvas>
            </div>
          {% endif %}
        </div>
        {% if content['#is_main_page']['#value'] %}
          {{ content['#bottom_text'] }}
        {% else %}
          {% for item in content.items %}
            <div class="capital-division-card {{ content.capital_name }}">
              <div class="capital-division-card__header">
                {% if item.image %}{{ drupal_entity('media', item.image) }}{% endif %}
                <h3>{{ item.title }}</h3>
              </div>
              <div class="capital-division-card__content">{{ item.description.value|raw }}</div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    {% else %}
      <p>{{ 'No results yet.'|t }}</p>
    {% endif %}
    </div>
  </div>
</div>