<div class="container manage-groups group-summary">
  <h1 class="manage-groups__header">Group Summary</h1>
  <div class="group-summary__gdmi-version">
    <h3>GDMI Version</h3>
    <p>This is the version of the GDMI that your group will be taking.</p>
    <div class="version">{{ content.gdmi_version }}</div>
  </div>
  {% include "@tb_gdmi/components/group-participants-list.html.twig" with {
    members: content.members,
	}%}
  <div class="group-summary__selected-dates">
    {% include "@tb_gdmi/components/group-selected-dates.html.twig" with {
      title: 'Selected Dates',
      subtitle: 'Ensure the correct dates have been selected.',
      group: content.group,
      timezone_formatted: content.timezone_formatted,
		}%}
  </div>
  <div class="group-summary__communications gray-section">
    {% include "@tb_gdmi/components/group-communications.html.twig" with {
      group: content.group,
      admins: content.admins,
      participants_invite: content.participants_invite,
      participants_reminders: content.participants_reminders,
		}%}
  </div>
</div>
<div class="container d-flex justify-content-between align-items-center">
  <a class="btn btn-gold" href="{{ url('tb_gdmi.dashboard_groups_communications', {'group': content.group.id.value}) }}"><i class="fas fa-arrow-left mr-2" aria-hidden="true"></i>BACK</a>
  <form action="{{ url('tb_gdmi.launch_group', {'group': content.group.id.value}) }}" method="POST">
    <button type="button" class="btn btn-primary btn-launch text-white">LAUNCH GROUP<img class="ml-2" src="{{ file_url('themes/custom/thunderbird/assets/icons/webform/webform-button--submit.svg') }}"/></button>
  </form>
</div>
{{ attach_library('tb_gdmi/launch_group_modal') }}