<div class="container manage-groups use-group-indicator">
  <h1 class="manage-groups__header">{{ content.title }}</h1>

  {% if content.destination %}
    {% set params = {'group': content.group.id.value, 'success': content.destination } %}
  {% else %}
      {% set params = {'group': content.group.id.value } %}
  {% endif %}
  <form action="{{ content.form_action }}" method="POST">
    <input type="hidden" id="groupId" value="{{ content.group.id.value }}" />
  {% if content.request_action == 'all' or content.request_action == 'communications' %}
    {% include "@tb_gdmi/components/communicationsForm/participants-invitation.html.twig" %}
    {% include "@tb_gdmi/components/communicationsForm/participants-reminders.html.twig" %}
  {% endif %}
  {% if content.request_action == 'all' or content.request_action == 'admins' %}
    {% include "@tb_gdmi/components/communicationsForm/admins-invitation.html.twig" %}
  {% endif %}
    <div class="d-flex justify-content-between">
      <a class="btn btn-gold" href="{{ content.back_url}}"><i class="fas fa-arrow-left mr-2" aria-hidden="true"></i>BACK</a>
      <button type="submit" id="btn-submit-form" class="btn btn-primary text-white">
        {{ content.summit_text }}
        {% if content.summit_text == 'SUMMARY'  %}
          <i class="fas fa-arrow-right ml-2" aria-hidden="true"></i>
        {% endif %}
      </button>
    </div>
  </form> 
</div>
