<div id="modal-overlay-{{ content.id }}" class="gdmi-modal-overlay"></div>
<div id="modal-{{ content.id }}"  class="gdmi-modal">
  <h1 class="gdmi-modal__title text-gold mt-0 {{ content.subtitle ? 'mb-0' : ''}}">{{ content.title }}</h1>
  {% if content.subtitle %}<span class="gdmi-modal__subtitle text-white mt-0 d-block">{{ content.subtitle }}</span>{% endif %}
  <p class="gdmi-modal__description text-white">{{ content.description }}</p>
  <div class="gdmi-modal__actions d-flex">
  {% if content.type == 'cancel-purchase' %}
    <a href={{ path('tb_gdmi.cancel_purchase') }} class="btn btn-gold">{{ content.confirm_btn.text }}</a>
  {% else %}
    <a id="confirm-modal-{{ content.id  }}" class="btn btn-gold">{{ content.confirm_btn.text }} {% if content.icon %} <i class="fas fa-{{ content.icon }} ml-2"></i> {% endif %}</a>
  {% endif %}
    <a id="close-modal-{{ content.id  }}" class="btn btn-primary text-white">{{ content.close_btn.text }}</a>
  </div>
</div>