<div class="block block-inline-blockhero dashboard-hero hero-wrapper hero-wrapper-stripes content-background gdmi-main-hero">
  {{ content.image }}
  <div class="hero size-md justify-content-start align-items-center has-logo container">
    <div class="content" dir="auto">
      <h1 class="heading gold">{{ content.config.title }}</h1>
      <p class="subheading">{{ content.config.description }}</p>
      <a href="{{ content.assessment_url }}" class="btn btn-gold" role="link">{{ content.config.btn_text }}</a>
    </div>
  </div>
</div>