{%
  set classes = [
    'node',
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    node.bundle|clean_class,
    node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
    'card'
  ]
%}
{% set remove_link = content.field_remove_link.0|render|striptags|trim == "1" %}

{{ attach_library('thunderbird/clickable') }}

<article{{ attributes.addClass(classes).setAttribute('data-js-clickable', "h3") }}>

  {{ title_prefix }}
  {{ title_suffix }}

  {% block content %}
    <div class="ll-image image-default">
      {{ content.field_image }}
    </div>
    <div class="ll-image image-horizontal">
      {{ node.field_image|view({label: 'hidden', type: 'entity_reference_entity_view', settings: {view_mode: 'card_horizontal'}}) }}
    </div>
    <div class="content d-flex">
      <div class="col">
        <h3{{ title_attributes }}>
          {% if remove_link %}
            {{ label.0 }}
          {% else %}
            <a href="{{ url }}" rel="bookmark">{{ label.0 }}</a>
          {% endif %}
        </h3>
        <div class="details row flex-wrap">
          <div class="col-sm-12 card-content">
            {{ content|without('field_image', 'field_tags', 'field_topics', 'field_solutions', 'field_cta_button_color','field_cta_button_label', 'field_cta_button_text', 'field_remove_link') }}
          </div>
          <div class="col-sm-12 card-btn">
            {{ content.field_cta_button_label }}
            {% if not remove_link %}
              <div class="btn btn-{{ content.field_cta_button_color.0 }}">{{ content.field_cta_button_text }}</div>
            {% endif %}
          </div>
        </div>
        {% if content.field_tags|render|striptags|trim is not empty or
        content.field_topics|render|striptags|trim is not empty or
        content.field_solutions|render|striptags|trim is not empty %}
          <div class="categories">
            {{ content.field_tags }}
            {{ content.field_topics }}
            {{ content.field_solutions }}
          </div>
        {% endif %}
      </div>
    </div>
  {% endblock %}
</article>
