{#
/**
 * @file
 * Template for a grid Insight.
 */
#}
{%
  set classes = [
  'insight-grid-insight',
  'node',
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  node.bundle|clean_class,
  node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
  content.insight_first is defined ? 'insight-first-container' : ''
]
%}
{% set insight_type = content.field_insight_type|render|striptags|trim %}
{% set insight_attribute = create_attribute() %}
{% set first_attribute = create_attribute() %}
{% set article_attribute = create_attribute() %}

{% if content.insight_first is defined %}
<article{{ attributes.addClass(classes) }}>
{% else %}
<article{{ attributes.addClass(classes).setAttribute('data-js-clickable', true) }}>
{% endif %}
  {% if bg_image is not empty %}
    {# Print the style tag here so that insights loaded in via ajax (after
    filtering the view) have the background image applied. #}
    <style>
      {{ bg_image.0['#value'] }}
    </style>
  {% endif %}

  {{ title_prefix }}
  {{ title_suffix }}

  {% block content %}
    <div class="insight-content">
      {% if content.insight_first is defined %}
        <div {{ first_attribute.addClass('column', 'insight-first', content.insight_first.bg_color).setAttribute('data-js-clickable', '.insight-first-cta') }}>
          <h2 class="title">{{ content.insight_first.title }}</h2>
          {% if content.insight_first.cta is not empty %}
            <div class="cta">{{ content.insight_first.cta.0 }}  <i class="fas fa-arrow-right"></i></div>
          {% endif %}
        </div>
      {% else %}
        <div class="column insight-image bg-blue image-top"></div>
      {% endif %}

      {% if content.insight_first is defined %}
        <div {{ insight_attribute.addClass('column').setAttribute('data-js-clickable', true) }}>
      {% else %}
        <div {{ insight_attribute.addClass('column') }}>
      {% endif %}
        {{ content.field_kn_tags }}
        <div class="insight-date">{{ node.getCreatedTime() | date('U') | format_date('custom', 'm/d/y') }}</div>
        <h3 class="insight-title">
          <a href="{{ url }}" rel="bookmark">{{ label|render|striptags|trim|raw }}</a>
        </h3>

        {{ content.field_publication }}
        <div class="insight-body">{{ content.body }}</div>
        <div class="insight-type {{ insight_type|clean_class }}">
          <div class="text">{{ insight_type }}</div>
          <img class="image" src="/themes/custom/thunderbird/src/components/insights-grid/{{ insight_type|clean_class }}.png" alt="{{ insight_type }}" >
        </div>
      </div>
    </div>
  {% endblock %}
</article>