{#
/**
 * @file
 * Template for a Hero display of a Node.
 */
#}
{% set alignment = content.field_header_alignment[0]['#markup'] ?  content.field_header_alignment[0]['#markup'] : 'justify-content-start align-items-end' %}

{% set vertical_stripes = content.field_vertical_stripes[0]['#markup']  %}
{% if vertical_stripes == 'On'%}  
  {% set vertical_stripes_switch = 'hero-wrapper-stripes' %}
{% endif %}
{% set content_background = content.field_content_background[0]['#markup']  %}
{% if content_background != 'On'%}  
  {% set content_background_switch = 'content-background' %}
{% endif %}
{% set classes = [
  'node',
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  node.bundle|clean_class,
  node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'hero-wrapper',
  vertical_stripes_switch,
  content_background_switch,
] %}
{% set hero_attribute = create_attribute() %}
{% set hero_classes = [
  'hero',
  'size-md',
  alignment,
  'hero-default',
  'has-logo',
  'container',
  'portal-post-hero'
] %}

<div{{ attributes.addClass(classes) }}>
  <div{{ hero_attribute.addClass(hero_classes) }}>
    <img class="logo" alt="global + digital logo" src="/themes/custom/thunderbird/assets/img/logo-global-digital.svg">
    
    <div class="content">
      <h1{{ title_attributes.addClass('heading') }}>{{ label.0 }}</h1>
      {% if node.bundle == 'certificate' and content.field_start_dates|render|striptags|trim is not empty %}
        {% set content = content | filter((v, k) => k != 'field_school_term') %}
      {% endif %}
      {% if node.bundle == 'insight' %}
        {{ node.created.value|format_date('date') }}
      {% endif %}
      {{ content|without('field_image', 'field_article_image','field_header_alignment','field_content_background','field_vertical_stripes') }}
    </div>
  </div>
</div>
