{#
/**
 * @file
 * Template for a node teaser.
 */
#}
{% extends '@renovation/node/node.twig' %}

{% block content %}
  <div class="container">
    <div class="corners">
      <div class="row">
        <div class="col-12 col-lg-6 text-column">
          {{ content.field_kn_tags }}
          <div class="insight-date">{{ node.getCreatedTime() | date('U') | format_date('custom', 'm/d/y') }}</div>
          <h3 class="insight-title">
            <a href="{{ url }}" rel="bookmark">{{ label|render|striptags|trim|raw }}</a>
          </h3>
          {{ content.body }}
          {{ content.links }}
        </div>
        <div class="col-12 col-lg-6 image-column">
          {{ content.field_image }}
          {{ content.field_article_image }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}