{#
/**
 * @file
 * Default template for a field.
 */
#}
{%
  set classes = [
  'field',
  bundle|clean_class ~ '__' ~ field_name_clean|clean_class,
  field_name_clean|clean_class,
  field_name|clean_class,
  label_display == 'inline' ? 'd-flex',
]
%}
{%
  set title_classes = [
  'field__label',
  'font-weight-bold',
  label_display == 'visually_hidden' ? 'visually-hidden',
]
%}

{% if label_hidden %}
  {% if multiple %}
    <div{{ attributes.removeAttribute('data-quickedit-field-id').addClass(classes) }}>
      {% for item in items %}
        <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
      {% endfor %}
      <span class="field__suffix">|</span>
    </div>
  {% else %}
    {% for item in items %}
      <div{{ attributes.removeAttribute('data-quickedit-field-id').addClass(classes) }}>{{ item.content }}</div>
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes.removeAttribute('data-quickedit-field-id').addClass(classes) }}>
    <div{{ title_attributes.addClass(title_classes) }}>
      {{ label }}{% if label_display == 'inline' %}<strong class="field__label__suffix mr-1">:</strong>{% endif %}
    </div>
    {% if multiple %}
    <div class="field__items">
      {% endif %}
      {% for item in items %}
        <div{{ item.attributes.addClass('field__item') }}>{{ item.content['#plain_text'] }}{% if not loop.last %};{% endif %}</div>
      {% endfor %}
      {% if multiple %}
    </div>
    {% endif %}
  </div>
{% endif %}
