{% set btn_class = btn_class|default('m-auto') %}
{% set type = type|default('summary') %}

<div class="group-communications">
  <div class="communications-content">
    <h3>Communications</h3>
    <p>These are the communication settings for this group. They represent the touch-points and correspondence <br>associated with this group in particular.</p>
    <div class="communications-section">
      <h4>Participant Invite Settings</h4>
      <p class="font-weight-bold">Send the invitations to participants <span class="text-primary">{{ participants_invite.schedule }}</span><span class="divider"></span> with a <span class="text-primary">{{ participants_invite.message_type }}.</span></p>
    </div>
    <div class="communications-section">
      <h4>Participant Reminders Settings</h4>
      {% if participants_reminders.reminders_type == 'default' %}
        <p class="font-weight-bold">A default reminder, utilizing the default reminder message, will be sent out 1 day before the due date to every participant with an unfinished GDMI.</p>
      {% else %}
        <ol>
          {% for item in participants_reminders.items %}
            <li><p class="font-weight-bold">Send a reminder <span class="text-primary">{{ item.schedule}}</span><span class="divider"></span>with a <span class="text-primary">{{ item.message_type }}.</span></p></li>
          {% endfor %}        
        </ol>
      {% endif %}
    </div>
    <div class="communications-section">
      <h4>Admin Invitation Settings</h4>
      <ol>
        {# <li><p class="font-weight-bold text-muted no-message">The Purchaser is an admin <span class="divider"></span> no message needs to be sent.</p></li> #}
        {% for membership in admins %}
          <li><p class="font-weight-bold">An admin invite will be sent to <span class="text-primary">{{ membership.user.mail.value }}</span><span class="divider"></span>with a <span class="text-primary">default message.</span></p></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  {% if type == 'summary' %}
    <a class="btn btn-primary text-white {{ btn_class }} w-fit-content" href="{{ url('tb_gdmi.dashboard_groups_communications', {'group': group.id.value, 'success': path('tb_gdmi.dashboard_groups_summary', { 'group': group.id.value }) }) }}">EDIT COMMUNICATIONS</a>
  {% else %}
    <a class="btn btn-primary text-white {{ btn_class }} w-fit-content" href="{{ url('tb_gdmi.dashboard_groups_communications', {'group': group.id.value, 'local_task': '1', 'action': 'communications' }) }}">EDIT COMMUNICATIONS</a>
  {% endif %}
  
</div>