<div class="group-participants-list row gray-section">
  <div class="col-lg-5">
    <h3>Participants</h3>
    <p>The participants in this GDMI group. You may edit or add participants before completing your purchase. You may also purchase the GDMI for further participants later if you would like.</p>
    <h3>Group size: <span class="text-primary">{{ members|length }}</span></h3>
    <p>This group size is the number of GDMI instances you are purchasing.</p>
  </div>
  <div class="col-lg-7">
    <div class="table-container">
      <table class="gdmi-table">
        <thead>
          <th>Name</th>
          <th>Email Address</th>
        </thead>
        <tbody>
          {% for membership in members %}
            <tr>
              <td>{{ membership.user.field_first_name.value }} {{ membership.user.field_last_name.value }}</td>
              <td>{{ membership.user.mail.value }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% if edit_btn %}
    <a class="btn btn-primary text-white mx-auto mt-4" href="{{ path('commerce_checkout.form', { 'commerce_order': order_id, 'step': 'group' }) }}">EDIT PARTICIPANTS</a>
  {% endif %}
</div>