{% set classes = [
  'table',
  'block', 
  'block-' ~ configuration.provider|clean_class, 
  'block-' ~ plugin_id|clean_class
]
%}
{% set layout = content.field_table_layout %}
{{ content.field_anchor_menu_settings }}
<div {{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="container">
    <div class="row">
      <div class="col">
        {% if label %}
          {% block label %}
            <{{ heading_level }} {{ title_attributes.addClass(heading_style) }}>{{ label }}</{{ heading_level }}>
          {% endblock %}
        {% endif %}
      </div>
    </div>
    <div class="row table-wrapper">
      <div class="col {{ layout }}">
        <div class="wrapper">
          <h2 class="heading">{{ content.field_title }}</h2>
          <p class="body">{{ content.body }}</p>
        </div>
      </div>
      <div class="col {{ layout }}">
        <div class="wrapper">
          <h2 class="heading">{{ content.field_title_right }}</h2>
          <p class="body">{{ content.field_table }}</p>
        </div>
      </div>
    </div>
  </div>
</div>