{% set classes = [ 
    'thundershop',  
    'block', 
    'block-' ~ configuration.provider|clean_class, 
    'block-' ~ plugin_id|clean_class
  ]
%}
<div {{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="container">
    <h2 class="h2">{{ content.field_heading|render|striptags|trim }}</h2>
    <h3 class="h3">{{ content.field_sub_heading|render|striptags|trim }}</h3>
    {% if content.body is not empty %}
      <p class="body">{{ content.body|render|striptags|trim }}</p>
    {% endif %}
    <div class="row">
      {{ content.field_product }}
    </div>
  </div>
  {% if content.field_link['0']['#url'] is not empty %}
    {% include '@renovation/buttons/button-action.twig' with {
      url : content.field_link['0']['#url'],
      title: content.field_link['0']['#title'],
      button_color: 'btn-blue'
    } %}
  {% endif %}
</div>