{# Get an array of buttons so they can be counted. #}
{% set cta = content.field_two_cta %}
{% set is_gdmi_home = content.field_gdmi_home[0]['#markup'] %}
{% set cta_content = cta|render|striptags|trim %}  
{% set heading = content.field_heading[0]['#context']['value'] %}
{% set sub_heading = content.field_sub_heading[0]['#context']['value'] %}
{% set body = content.field_hero_unformatted_text[0]['#context']['value'] %}
{% set size = content.field_hero_size[0]['#markup'] %}
{% set alignment = content.field_content_alignment[0]['#markup'] %}
{% set vertical_stripes = content.field_vertical_stripes[0]['#markup']  %}
{% set content_background = content.field_content_background[0]['#markup']  %}
{% set hero_heading_color = content.field_hero_heading_color[0]['#markup']|lower  %}
{% if vertical_stripes != 'On'%}  
  {% set vertical_stripes_switch = 'hero-wrapper-stripes' %}
{% endif %}
{% if content_background != 'On'%}  
  {% set content_background_switch = 'content-background' %}
{% endif %}
{% if (size == 'md' or size == 'lg') and is_gdmi_home == '0' %}
  {% set has_logo = true %}
{% else %}
  {% set has_logo = false %}
{% endif %}
{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'hero-wrapper',
   vertical_stripes_switch,
   content_background_switch,
   is_gdmi_home == '1' ? 'gdmi-main-hero' : ''
] %}
{% set hero_attribute = create_attribute() %}
{% set hero_classes = [
  'hero',
  'size-' ~ size,
  alignment,
  has_logo ? 'has-logo' : '',
  'container',
] %}

{# Alignment options for field selector (horizontal + vertical): 
  justify-content-start align-items-start|Top Left
  justify-content-center align-items-start|Top Center
  justify-content-end align-items-start|Top Right
  justify-content-start align-items-center|Center Left
  justify-content-center align-items-center|Center Center
  justify-content-end align-items-center|Center Right
  justify-content-start align-items-end|Bottom Left
  justify-content-center align-items-end|Bottom Center
  justify-content-end align-items-end|Bottom Right
#}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div{{ hero_attribute.addClass(hero_classes) }}>
    {# Show Global + Digital logo on large heros #}
    {% if has_logo %}<img class="logo" alt="global + digital logo" src="/themes/custom/thunderbird/assets/img/logo-global-digital.svg">{% endif %}
    
    {# Render hero content #}
    <div class="content" dir="auto">
      {# Default hero theme #}
      {% if heading is not empty %}<h1 class="heading {{ hero_heading_color }}">{{ heading }}</h1>{% endif %}
      {% if sub_heading is not empty %}<p class="subheading">{{ sub_heading }}</p>{% endif %}
      {% if body is not empty %}<div class="body">{{ body }}</div>{% endif %}
      {% if cta_content is not empty %}{{ cta }}{% endif %}
      {{ language_block }}
    </div>
  </div>
</div>


