{{ attach_library('thunderbird/accordion-library') }}
{% set classes = [
  'container',
  'accordion',
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
] %}
{% set subtitle = content.field_sub_heading.0 %}
{{ content.field_anchor_menu_settings }}
<div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {{ title_suffix }}

    {# Optional heading #}
    {% if label %}<h2 class="heading">{{ label }}</h2>{% endif %}

    {# Optional subtitle #}
    {% if subtitle is not empty %}<div class="subtitle">{{ subtitle }}</div>{% endif %}

    {# Render paragraph--accordion-panel.html.twig #}
    {{ content.field_paragraph }}
</div>