{{ attach_library('thunderbird/signpost-carousel-three-column-library') }}
{% set classes = [ 
    'container',
    'signpost',
    'three-column',
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class
  ]
%}
<div {{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    {% block label %}
      <{{ heading_level }}>{{ label }}</{{ heading_level }}>
    {% endblock %}
  {% endif %}
  {{ title_suffix }}
  <div class="signposts-container slick-slider">
    {{ content }}
  </div>
  <div class="slick-controls"></div>  
</div>