{{ attach_library('thunderbird/signpost-full-width-carousel-library') }}
{% set classes = [ 
  'signpost',
  'full-width',
  'block', 
  'block-' ~ configuration.provider|clean_class, 
  'block-' ~ plugin_id|clean_class 
  ] %}
<div {{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="signposts-container carousel" >
    {{ content.body }}
    <div class="glide">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          {{ content.field_slide_item }}
        </ul>
      </div>
      {% if content.field_slide_item['#items']|length > 1  %}
      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<"></button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">"></button>
      </div>
      {% endif %}
    </div>    
  </div>
</div>